@{
    ViewData["Title"] = "Home Page";
}


@*<form>
    <div class="row">
        <div class="col">
            <label>Введіть значення</label>
            <br />
            <input type="number" style="width:50px" />
            <br />
            <label>_____</label>
            <br />
            <input type="number" style="width:50px" />
        </div>
        <div class="col">
            <input type="text" style="width:50px" placeholder="+,-,*,/" />
        </div>
        <div class="col">
            <label>Введіть значення</label>
            <br />
            <input type="number" style="width:50px" />
            <br />
            <label>_____</label>
            <br />
            <input type="number" style="width:50px" />
        </div>
    </div>
</form>*@